<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Here are some of my projects ... Please feel free to explore</p>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" *ngFor="let project of myPortfolio" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img src={{project.imgURL}}  class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{project.title}}</h4> 
            <p>{{project.desc}}</p>
            <div class="portfolio-links">
              <a href={{project.imgURL}} data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>




      </div>  
        </div>
      </section><!-- End Portfolio Section -->