
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar mobile-nav nav-menu">
      <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  > <i class="bx bx-home"></i><span>Home</span></a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" ><i class="bx bx-user"></i><span>About</span></a></li>
        <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active" ><i class="bx bx-book"></i><span>Portfolio</span></a></li>
        <li><a [routerLink]="['/skills']" routerLinkActive="router-link-active"><i class="bx bx-server"></i><span>Skills</span></a></li>
        <li><a [routerLink]="['/contacts']" routerLinkActive="router-link-active"><i class="bx bx-phone"></i><span>Contact</span></a></li>        
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
