<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{myBios.lastName}} {{myBios.firstName}}</h1>
      <p>I'm <span class="typed" data-typed-items="Software Developer, Product Engineer"></span></p>
      <div class="social-links">
        <a href={{myBios.socialMedia}} class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://skype.com/sunboy005" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href={{myBios.linkedIn}} class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href={{myBios.github}} class="twitter"><i class="bx bxl-github"></i></a>
        <a href="https://facebook.com/sunboy005" class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->
